<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Presencia</title>
</head>

<body class="h-screen bg-gradient-to-b from-cyan-500 to-cyan-900">

    <nav class="flex items-center justify-between bg-cyan-900 p-4">
        <div class="flex items-center">
            <div class="text-cyan-300 text-3xl font-bold">Presencia</div>
        </div>
        <div class="flex">
            <span class="text-blue-200 text-lg p-2 mr-28 font-bold">{{date}}</span>
        </div>
    </nav>

    <div class="flex flex-row justify-center items-center w-full">
        <form action="{{url_for('mark')}}" method="post">
            <div class="flex flex-row justify-end">
                <div class="w-44 mx-6 mt-2 flex flex-col">
                    <label class="block text-md px-2 font-bold text-black text-center">Select Class</label>
                    <select
                        class="w-full py-2 px-4 pr-8 leading-tight bg-white border border-gray-300 rounded shadow focus:outline-none focus:border-gray-500"
                        name="sel_class" id="sel_class">
                        {% for grade in grades %}
                        <option value="{{ grade[0] }}">{{ grade[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex justify-center mx-6">
                    <button
                        class="text-lg no-underline font-bold rounded-lg w-72 py-2 my-8 text-black bg-emerald-500 hover:bg-emerald-800 hover:text-white"
                        type='submit'>
                        Take Attendance
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="col rounded-lg p-0 bg-opacity-50 bg-gray-400 m-10 mb-10 min-h-400">
        <h2 class="rounded-t-lg bg-slate-600 text-white p-2 text-center text-2xl font-bold">Today's Attendance
            Assignment</h2>
        <div class="mt-1">
            <table class="min-w-full bg-slate-600 border border-slate-300">
                <thead>
                    <tr>
                        <th class="p-4 font-bold">ID</th>
                        <th class="p-4 font-bold">Name</th>
                        <th class="p-4 font-bold">Attendance</th>
                        <th class="p-4 font-bold">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in attendances %}
                    <tr class="bg-slate-200 border border-slate-400">
                        <td class="p-4 text-center font-semibold">{{ record['Roll'] }}</td>
                        <td class="p-4 text-center font-semibold">{{ record['Name'] }}</td>
                        <td class="p-4 text-center font-semibold">{{ record['Status'] }}</td>
                        <td class="p-4 text-center font-semibold">{{ record['Time'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="flex mt-4 justify-end mr-4">
        <a id="tohome"
            class="text-lg text-white text-center mx-2 no-underline w-auto font-bold rounded-lg py-2 px-4 my-4 bg-red-600 hover:bg-red-300 hover:text-black"
            href="{{url_for('back', id='tohome')}}">
            BACK
        </a>
    </div>
</body>

</html>