<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Presencia</title>
</head>

<body class="h-screen bg-gradient-to-b from-cyan-500 to-cyan-900">
    <div class="flex justify-end mr-4">
        <a id="tohome" class="text-lg text-white text-center mx-2 no-underline w-auto font-bold rounded-lg py-2 mt-4 px-4 bg-red-600 hover:bg-red-300 hover:text-black"
            href="{{url_for('back', id='tohome')}}">
            BACK
        </a>
    </div>
    <div class="flex flex-col justify-center">
        <label class="font-extrabold text-5xl text-cyan-300 text-center">CLASS DETAILS</label>
        <button class="text-black bg-emerald-500 px-4 py-2 m-auto mt-5 font-bold rounded-lg text-lg hover:bg-emerald-800 hover:text-white" id="openAddModal">
            ADD CLASS
        </button>
    </div>
    <div class="flex justify-center w-screen mt-4">
        <table class="w-4/5 bg-slate-400 border border-slate-300">
            <thead>
                <tr>
                    <th class="p-2 text-center font-bold">ID</th>
                    <th class="p-2 text-center font-bold">Class</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr class="bg-slate-200 border border-slate-400">
                    <td class="p-4 text-center font-semibold">{{ row[0] }}</td>
                    <td class="p-4 text-center font-semibold">{{ row[1] }}</td>
                    <td class="flex flex-row justify-evenly items-center mt-2">
                        <form action="{{url_for('manage')}}" method="post">
                            <input type="hidden" name="idclass" value="{{ row[0] }}">
                            <input type="hidden" name="nameclass" value="{{ row[1] }}">
                            <button class="manage font-bold bg-blue-500 p-2 rounded-lg text-blue-200 hover:bg-blue-200 hover:text-blue-500"
                                id="openClassModal" type="submit">
                                MANAGE
                            </button>
                        </form>
                        <form action="{{url_for('delgrade')}}" method="POST">
                            <input type="hidden" name="idclass" value="{{ row[0] }}">
                            <button type="submit" class="font-bold bg-red-500 p-2 rounded-lg text-red-200 hover:bg-red-200 hover:text-red-500">
                                REMOVE
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal Add Class -->
    <div id="addModal" class="modal hidden fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-center justify-center min-h-screen">
            <div class="modal-content bg-white w-96 rounded-lg p-4">
                <h2 class="text-lg font-bold mb-4  text-center">Add new Class</h2>
                <form action="{{url_for('addgrade')}}" method="POST">
                    <div class="my-2">
                        <label for="id" class="block text-sm font-medium text-gray-700"> Class Id </label>
                        <div class="mt-1">
                            <input id="classid" name="classid" type="text" autocomplete="off" required
                                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm">
                        </div>
                    </div>
                    <div class="my-2">
                        <label for="name" class="block text-sm font-medium text-gray-700"> Class Name </label>
                        <div class="mt-1">
                            <input id="classname" name="classname" type="text" autocomplete="off" required
                                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm">
                        </div>
                    </div>
                    <div class="flex justify-evenly">
                        <button type="submit"
                            class="text-lg text-white text-center mx-2 no-underline w-auto font-bold rounded-lg py-2 mt-4 px-4 bg-pink-600">
                            ADD
                        </button>
                        <button type="button" id="closeAddModal"
                            class="text-lg text-white text-center mx-2 no-underline w-auto font-bold rounded-lg py-2 mt-4 px-4 bg-red-600">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {

            // $('.manage').click(function (e) {
            //     idclass = $(this).attr('data-id');
            //     nameclass = $(this).attr('data-name');
            //     $(".dataid").html(idclass);
            //     $(".dataname").html(nameclass);
            //     // console.log(idclass)
            //     // console.log(nameclass)
            //     $("#classModal").removeClass("hidden");
            //     $('#stdclass').val(idclass);
            //     e.preventDefault();
            // })

            // Open modal on button click
            $("#openAddModal").click(function () {
                $("#addModal").removeClass("hidden");
            });

            // Close modal on button click
            $("#closeAddModal").click(function () {
                $("#addModal").addClass("hidden");
            });

            // Open modal on button click
            // $("#openClassModal").click(function () {
            //     $("#classModal").removeClass("hidden");
            // });

            // Close modal on button click
            $("#closeClassModal").click(function () {
                $("#classModal").addClass("hidden");
            });

            // Prevent form submission on close button click
            $("#closeAddModal, #closeClassModal").click(function (event) {
                event.preventDefault();
            });
        });
    </script>

</body>

</html>