<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Presencia</title>
</head>

<body class="h-screen bg-gradient-to-b from-cyan-500 to-cyan-900">
    <nav class="flex items-center justify-between bg-cyan-900 p-4">
        <div class="flex items-center">
            <div class="text-cyan-300 text-3xl font-bold">Presencia</div>
        </div>
        <div class="flex flex-row">
            <span class="text-emerald-400 text-lg p-2 mr-28 font-bold">{{name}}</span>
            <form action="{{url_for('logout')}}" method="post">
                <button type="submit"
                    class="text-lg p-2 rounded-lg shadow-lg font-bold text-red-200 bg-red-600">Logout</button>
            </form>
        </div>
    </nav>
    <div class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="flex">
            <div class="flex flex-col mx-5">
                <div class="bg-white p-4 shadow-lg sm:rounded-lg sm:px-10 my-4">
                    <a href="{{url_for('attend')}}"
                        class="flex justify-center text-lg font-bold text-emerald-500">Attendence</a>
                </div>
                <div class="bg-white p-4 shadow-lg sm:rounded-lg sm:px-10 my-4">
                    <a href="{{url_for('grade')}}" class="flex justify-center text-lg font-bold text-emerald-500">Class</a>
                </div>
            </div>
            <div class="w-full flex justify-center flex-col items-center">
                <div class="flex justify-end m-5">
                    <form action="{{url_for('view')}}" method="post">
                        <div class="flex flex-row justify-center">
                            <div class="w-44 mx-2 flex flex-col">
                                <label for="Class">Select Class</label>
                                <select
                                    class="w-full py-2 px-4 pr-8 leading-tight bg-white border border-gray-300 rounded shadow focus:outline-none focus:border-gray-500"
                                    name="selclass" id="selclass">
                                    {% for row in rows %}
                                    <option value="{{ row[0] }}">{{ row[0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="w-44 mx-2 flex flex-col">
                                <label for="Date">Select Date</label>
                                <input class="w-full py-2 px-4 pr-8" type="date" id="date" name="date">
                            </div>
                            <button type="submit"
                                class="text-lg text-white text-center mx-2 no-underline w-auto font-bold rounded-lg py-2 mt-4 px-4 bg-blue-600">
                                VIEW
                            </button>
                        </div>
                    </form>
                </div>
                <div class="flex justify-center items-center w-1/2 h-full">
                    <table class="min-w-full bg-slate-600 border border-slate-300">
                        <thead>
                            <tr>
                                <th class="p-4 font-bold">ID</th>
                                <th class="p-4 font-bold">Name</th>
                                <th class="p-4 font-bold">Attendance</th>
                                <th class="p-4 font-bold">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in attendances %}
                            <tr class="bg-slate-200 border border-slate-400">
                                <td class="p-2 text-center font-semibold">{{ record['Roll'] }}</td>
                                <td class="p-2 text-center font-semibold">{{ record['Name'] }}</td>
                                <td class="p-2 text-center font-semibold">{{ record['Status'] }}</td>
                                <td class="p-2 text-center font-semibold">{{ record['Time'] }}</td>
                            </tr>
                            {% endfor %}
                            <!-- <tr class="bg-slate-200 border border-slate-400">
                                <td class="p-2 text-center font-semibold">2</td>
                                <td class="p-2 text-center font-semibold">Jane Doe</td>
                                <td class="p-2 text-center font-semibold">Present</td>
                            </tr>
                            <tr class="bg-slate-200 border border-slate-400">
                                <td class="p-2 text-center font-semibold">3</td>
                                <td class="p-2 text-center font-semibold">John Smith</td>
                                <td class="p-2 text-center font-semibold">Absent</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>


<!-- <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                        <path d="M10 12l-6-6-1.4 1.4L10 14.8l7.4-7.4L16 6l-6 6z" />
                    </svg>
                </div> -->