<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Presencia</title>
</head>

<body class="h-screen bg-gradient-to-b from-cyan-500 to-cyan-900">
    <div class="flex justify-end mr-4">
        <a id="tograde"
            class="text-lg text-white text-center mx-2 no-underline w-auto font-bold rounded-lg py-2 mt-4 px-4 bg-red-600 hover:bg-red-300 hover:text-black"
            href="{{url_for('back', id='tograde')}}">
            BACK
        </a>
    </div>
    <div class="flex flex-col justify-center">
        <label class="font-extrabold text-5xl text-cyan-300 text-center">Manage Class</label>
        <!-- <button class="text-black bg-pink-600 px-4 py-2 m-auto mt-5 font-semibold rounded-lg" id="openAddModal">
            ADD CLASS
        </button> -->
    </div>
    <div class="flex justify-evenly my-8">
        <div class="flex flex-row my-2 justify-center">
            <label class="block text-lg px-2 font-bold text-gray-700 text-center"> ID : </label>
            <label class="dataid block text-lg px-2 font-bold text-black text-center"> {{id}} </label>
        </div>
        <div class="flex flex-row my-2 justify-center">
            <label class="block text-lg px-2 font-bold text-gray-700 text-center"> Class : </label>
            <label class="dataname block text-lg px-2 font-bold text-black text-center"> {{name}} </label>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center">
        <div class="flex w-1/2 justify-center items-center">
            <form action="{{url_for('addstd')}}" method="post">
                <div class="flex flex-row justify-center items-center my-2">
                    <label class="block text-sm font-medium text-gray-900 px-4">Student ID</label>
                    <input id="stdid" name="stdid" type="text" autocomplete="off" required
                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm">
                    <label class="block text-sm font-medium text-gray-900 px-4">Student Name</label>
                    <input id="stdname" name="stdname" type="text" autocomplete="off" required
                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm">
                </div>
                <div class="flex justify-center my-2">
                    <input type="hidden" name="idclass" value="{{ id }}">
                    <input type="hidden" name="nameclass" value="{{ name }}">
                    <button type="submit"
                        class="text-lg font-bold rounded-lg w-32 py-2 my-4 bg-emerald-500 text-black hover:bg-emerald-800 hover:text-white">ADD</button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex justify-center w-screen mt-4">
        <table class="w-4/5 bg-slate-400 border border-slate-300">
            <thead>
                <tr>
                    <th class="p-2 text-center font-bold">ID</th>
                    <th class="p-2 text-center font-bold">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr class="bg-slate-200 border border-slate-400">
                    <td class="p-4 text-center font-semibold">{{student[0]}}</td>
                    <td class="p-4 text-center font-semibold">{{student[1]}}</td>
                    <td class="flex flex-row justify-evenly items-center mt-2">
                        <form action="{{url_for('delstd')}}" method="POST">
                            <input type="hidden" name="stdid" value="{{ student[0] }}">
                            <input type="hidden" name="idclass" value="{{ id }}">
                            <input type="hidden" name="nameclass" value="{{ name }}">
                            <button type="submit" class="font-bold bg-red-500 p-2 rounded-lg text-red-200">
                                REMOVE
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>